*{
    box-sizing: border-box;
    font-family: 'tahoma', sans-serif;
}
body{
    background-color: #333;
    margin: 0;
    padding: 0;
}

.d-flex{
    display: flex;
}

header{
    margin: 5px;
    button{
        padding: 10px;
        border: solid #595E57 1px;
        background-color: #333333;
        color: #fff;
        outline: none;
        margin: 0px 2px 0px 0px;
        width: 80px;
        &:hover{
            background-color: #484E55;
        }
        i{
            padding-bottom: 10px;
            font-size: 20px;
        }
        p{
            padding: 0;
            margin: 0;
        }
        
    }
    .vr{
        width: 1px;
        background-color: #595E57;
        margin: 0px 6px 0px 4px;
    }
}

aside{
    min-width: 300px;
    height: calc(100vh - 100px);
    background-color: #252525;
    margin: 5px 0px 5px 5px;
    border: solid #464845 1px;
}
main{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #252525;
    margin: 5px;
    border: solid #464845 1px;
    overflow-y: scroll;
}

.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.space-evenly{
    justify-content: space-evenly;
}
.space-around{
    justify-content: space-around;
}


.bg-success{
    background-color: #02b872;
    color: #fff;
}

.search{
    outline: solid #464845 1px;
    input{
        border: none;
        background-color: #252525;
        width: 100%;
        font-size: medium;
        padding: 20px 20px;
        color: #fff;
        outline: none;
    }
    button{
        padding: 10px 20px;
        background-color: transparent;
        color: #fff;
        margin: 0px 2px 0px 0px;
        border: none;
        outline: none;

    }
}

.products{
    padding: 10px;
    flex-wrap: wrap;
    
    .product{
        width: 200px;
        background-color: #333333;
        color: #fff;
        padding: 10px;
        border: solid #595E57 1px;
        text-align: center;
        margin: 4px 4px;
        &:hover{
            background-color: #484E55;
            cursor: pointer;
        }
        img{
            width: 150px;
        }
        p{
            margin: 0;
            padding: 4px;
        }

    }
}


/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #21a5f1; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #21a5f1; 
  }

